<theme> 

    <formatVersion>7</formatVersion>

    <view name="menu">
        
            <menuBackground name="menubg">
                <color>${bgColor}</color>
            </menuBackground>
                
            <menuText name="menutext">
                <color>${textColor}</color>
                <fontPath>./assets/fonts/CalSans.ttf</fontPath>
                <fontSize>0.045</fontSize>
                <selectedColor>${accentColor}</selectedColor>
                <selectorColor>00000000</selectorColor>
            </menuText>

            <menuText name="menutitle">
                <color>${accentColor}</color>
                <fontPath>./assets/fonts/NunitoSans.ttf</fontPath>
                <fontSize>0.07</fontSize>
            </menuText>

            <menuText name="menufooter">
                <color>${textColor}</color>
                <fontPath>./assets/fonts/CalSans.ttf</fontPath>
                <fontSize>0.04</fontSize>
            </menuText>

            <menuText name="menutextsmall">
                <color>${textColor}</color>
                <fontPath>./assets/fonts/CalSans.ttf</fontPath>
                <fontSize>0.03</fontSize>
            </menuText>

    </view>

</theme>