<theme> 

    <formatVersion>7</formatVersion>

    <view name="menu">
        
            <menuBackground name="menubg">
                <color>${bgColor}</color>
                <cornerSize>20 20</cornerSize>
            </menuBackground>
                
            <menuText name="menutext">
                <color>${textColor}</color>
                <fontPath>./fonts/CalSans.ttf</fontPath>
                <fontSize>0.045</fontSize>
                <selectedColor>${accentColor}</selectedColor>
                <selectorColor>${textColor}40</selectorColor>
                <separatorColor>${textColor}20</separatorColor>
            </menuText>

            <menuText name="menutitle">
                <color>${accentColor}</color>
                <fontPath>./fonts/CalSans.ttf</fontPath>
                <fontSize>0.06</fontSize>
            </menuText>

            <menuText name="menufooter">
                <color>${textColor}</color>
                <fontPath>./fonts/CalSans.ttf</fontPath>
                <fontSize>0.04</fontSize>
            </menuText>

            <menuTextSmall name="menutextsmall">
                <color>${accentColor}</color>
                <fontPath>./fonts/CalSans.ttf</fontPath>
                <fontSize>0.025</fontSize>
            </menuTextSmall>

    </view>

</theme>